{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {cowboy, "0.8.4", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.4"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.5"}}},
  {axiom, "0.1.0", {git, "git://github.com/zatonovo/axiom.git", "master"}},
  {stomp_client, ".*", {git, "git://github.com/KodiEhf/erlang-stomp-client.git", "master"}}
]}.
